body, html {
    margin: 0;
    padding: 10px 20px 0 20px;
    background: #fafafa;
}

.left {
    float: left;
    width: 85%;
    height: 100%;
}

.right {
    float: right;
    width: 15%;
    height: 100%;
}

#info {
    /*background: #ffff33;*/
    padding: 20px;
    height: 10%;
    width: 100%;
}

#editor {
    /*background: #33ffff;*/
    height: 80%;
    width: 100%;
}
/*#ueditor {*/
/*height:100%;*/
/*width:80%;*/
/*}*/
#chat {
    /*background: #1abc9c;*/
    height: 100%;
}
#chat_content {
    width: 100%;
    height: 80%;
    border: 1px solid #dfdfdf;
    margin-bottom: 20px;
}