body, html {
    margin: 0;
    padding: 10px 20px 0 20px;
    background: #fafafa;
}

.left {
    float: left;
    width: 85%;
    height: 100%;
}

.right {
    float: right;
    width: 15%;
    height: 100%;
}

#parts {
    float: left;
    width: 215px;
    height: 80%;
    margin-right: 100px;
}

#container {
    overflow-y: scroll;
    height: 100%;
    padding: 20px 80px 20px 20px;
    background: white;
}

#editor {
    /*background: #33ffff;*/
    height: 400px;
    width: 700px;
    float: left;
    margin-top: 30px;
}

.slide_part_review {
    width: 700px;
    height: 400px;
    overflow: hidden;
    margin: -350px 0 0 0;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;

    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);

    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);

    font-family: 'Open Sans', Arial, sans-serif;
    cursor: pointer;
}

.slide_part_review:first-child {
    margin-top: 0;
}

.slide_part_review:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, .7);
}

#chat {
    /*background: #1abc9c;*/
    height: 100%;
}

#chat_content {
    width: 100%;
    height: 80%;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
    margin-bottom: 20px;
}
